@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://cdn.skypack.dev/that-3d-text-library/lib/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caprasimo&family=Chonburi&family=Graduate&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  background: rgba(250, 250, 250, 0.8);
  height: 90px;
  box-sizing: border-box;
}
.header .nav-bar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header .nav-bar .nav-bar-mobile {
  display: none;
}
.header .nav-bar h1 {
  font-size: 20px;
}
.header .nav-bar .onglets {
  display: flex;
  align-items: center;
}
.header .nav-bar .onglets .nav-list {
  margin-right: 35px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: 23px;
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  list-style: none;
}
.header .nav-bar .onglets .nav-list a {
  text-decoration: none;
  color: #000000;
}

/* navigation */
.active-nav-bar {
  border-style: solid;
  border-color: #fcc530;
  border-width: 0 0 5px 0;
}

.cart-background {
  background: #1c274c;
  border-radius: 15px;
  width: 188px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bold-duotone-shopping-ecommerce-cart-large {
  left: 1223px;
  top: 24px;
  overflow: visible;
}

.icons-nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-icon-user.bold-duotone-users-user-circle {
  left: 1117px;
  top: 24px;
  overflow: visible;
}

.carrinho {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
}

/* Header */
.banner-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-msg h1 {
  font-size: 36px;
  max-width: 40rem;
  text-align: center;
}

.banner-msg button {
  width: 139px;
  height: 51px;
  font-size: 20px;
  border: none;
  border-radius: 13px;
  outline: none;
  background: #BDBDBD;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  margin-top: 80px;
}

.cards {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}

.cards .card {
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 12px 15px rgba(0, 0, 0, 0.0784313725);
  margin: 0 auto;
  max-width: 400px;
}

.cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 8px 16px 20px rgba(0, 0, 0, 0.0352941176);
}

.box-info-main {
  padding: 24px 20px;
}

.cards .card .img-main {
  width: 100%;
  height: 350px;
}

.cards .card .img-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.cards .card .card-header .title {
  margin: 0;
}

.cards .card .card-body {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cards .card .card-body p {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.main .video {
  margin-top: 80px;
  width: 100%;
}

.main .video iframe {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

.footer-area {
  background-color: #1c274c;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer-area .footer-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-area .footer-content .social-media {
  display: flex;
}
.footer-area .footer-content .social-media p {
  box-sizing: border-box;
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 23px;
  height: 23px;
}

/* Fin du pied de page */
@media screen and (max-width: 640px) {
  .header .nav-bar .nav-links {
    display: block;
  }
  .header .nav-bar .nav-links .onglets {
    width: 100%;
    position: absolute;
    top: 90px;
    right: 0px;
    width: 0;
    background: rgba(255, 255, 255, 0.86);
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    padding: 32px 0;
    gap: 12px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    transition: all 0.3s;
    overflow: hidden;
  }
  .header .nav-bar .nav-links .onglets.active {
    right: 0;
    width: 100%;
    padding: 32px 12px;
  }
  .header .nav-bar .nav-links .onglets .nav-list {
    margin: 0px;
    color: #000000;
    padding: 0px 16px;
    font-size: 17px;
    display: block;
  }
  .header .nav-bar .nav-links .onglets .nav-list .link {
    color: black;
  }
  .header .nav-bar .nav-links .onglets .cart-background {
    width: 100%;
    padding: 8px;
    border-radius: 24px;
  }
  .header .nav-bar .nav-links .onglets .cart-background .carrinho {
    display: none;
    height: 28px;
  }
  .header .nav-bar .nav-links .onglets .cart-background .bold-duotone-shopping-ecommerce-cart-large {
    width: 32px;
  }
  .header .nav-bar .nav-links .onglets .icons-nav-bar {
    gap: 12px;
  }
  .header .nav-bar .nav-links .onglets .icons-nav-bar .profile-icon-user {
    display: none;
  }
  .header .nav-bar .nav-bar-mobile {
    display: flex;
    align-items: center;
  }
  .header .nav-bar .nav-bar-mobile .profile-icon-user-mobile {
    margin: 0;
  }
  .header .nav-bar .burger-menu {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
    cursor: pointer;
  }
  .header .nav-bar .burger-menu .burger-line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
  }
  .footer-area {
    gap: 20px;
  }
}
:root {
  --font-size: clamp(100px, 40vmin, 200px);
}

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.body {
  padding-top: 25rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  perspective: 700px;
}
.body::after {
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  width: 100%;
  height: 45%;
  top: 0;
  left: 0;
  z-index: 1;
}
.body > * {
  z-index: 2;
}

.container, .squish {
  transform-style: preserve-3d;
  position: relative;
}

.container {
  margin-bottom: calc(50vh - var(--font-size));
}

.squish {
  z-index: 2;
}

.shadow {
  transform-style: flat;
  z-index: 1;
  transform: translatex(-10%) translatez(-30px);
  position: absolute;
  bottom: calc(var(--font-size) * 0.25);
  left: 0;
  width: 120%;
  height: calc(var(--font-size) * 0.15);
  opacity: 1;
  background-color: var(--shadow-color, black);
  border-radius: 100vmin;
  filter: blur(25px);
}

[data-3d-text] {
  --layers: 10;
  --depth: 30;
  font-size: var(--font-size);
}

.particles {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translatez(-50px);
  bottom: calc(var(--font-size) * 0.3);
}
.particles .floor div,
.particles .air div {
  transform-style: preserve-3d;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.particles .floor div::after,
.particles .air div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.particles .floor {
  transform: rotatex(-60deg);
}
.particles .floor div::after {
  border: solid 1.5vmin var(--floor-particle, white);
  width: 8vmin;
  height: 8vmin;
}
.particles .air div::after {
  content: "★";
  color: var(--air-particle, white);
  font-size: 10vmin;
}
.particles .air div:nth-child(2n)::after {
  color: var(--air-particle-alt, hotpink);
}
.particles .air .p0::after {
  content: "●";
}
.particles .air .p1::after {
  content: "✖︎";
}
.particles .air .p2::after {
  content: "◼︎";
}
.particles .air .p3::after {
  content: "▲";
}

.style-0 {
  --color: white;
  --color-front: black;
  --floor-particle: black;
  --air-particle: black;
  --air-particle-alt: white;
  background-color: yellow;
}
.style-0 [data-mod-3] {
  --color: black;
}

.style-2 {
  --color: #3066BE;
  --color-front: #6D9DC5;
  --floor-particle: transparent;
  --air-particle: transparent;
  --air-particle-alt: transparent;
  background-color: #6D9DC5;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 100 100"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%23ffffff" fill-opacity="0.4"%3E%3Cpath opacity=".5" d="M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z"/%3E%3Cpath d="M6 5V0H5v5H0v1h5v94h1V6h94V5H6z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'), radial-gradient(#6D9DC5, #3066BE);
}
.style-2::after {
  content: none;
}
.style-2 .shadow {
  display: none;
}
.style-2 .front {
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.style-3 {
  --color: #B79492;
  --color-front: #EAE1DF;
  --floor-particle: #B79492;
  --air-particle: orange;
  --air-particle-alt: #B79492;
  --background-color: #917C78;
}

.style-4 {
  --color: #DB504A;
  --color-front: #E3B505;
  --floor-particle: #E3B505;
  --air-particle: #DB504A;
  --air-particle-alt: #E3B505;
  background-color: #084C61;
}

.style-5 {
  background: repeating-linear-gradient(45deg, red, red 10vmin, white 10vmin, white 20vmin);
  --color: red;
  --color-front: white;
  --floor-particle: transparent;
  --air-particle: transparent;
  --air-particle-alt: transparent;
}
.style-5::after {
  content: none;
}

.style-6 {
  --color: #424C55;
  --color-front: #E3B505;
  --floor-particle: #E3B505;
  --air-particle: #424C55;
  --air-particle-alt: #E3B505;
  background-color: #D1CCDC;
}

.style-7 {
  --color: #6CCFF6;
  --color-front: #001011;
  --floor-particle: #FFFFFC;
  --air-particle: #FFFFFC;
  --air-particle-alt: #FFFFFC;
  background-color: #00393D;
}

.style-8 {
  --color: #F9DC5C;
  --color-front: #ED254E;
  --floor-particle: #ED254E;
  --air-particle: #ED254E;
  --air-particle-alt: #F9DC5C;
  background-color: #F4FFFD;
}

.style-9 {
  background-color: #42E2B8;
  background-image: url('data:image/svg+xml,%3Csvg fill="%23F3DFBF" width="100" height="100" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z"  fill-rule="evenodd"/%3E%3C/svg%3E');
  --color: #F3DFBF;
  --color-front: #EB8A90;
  --floor-particle: #EB8A90;
  --air-particle: #EB8A90;
  --air-particle-alt: #F3DFBF;
}
.style-9::after {
  content: none;
}

.style-10 {
  --color: #138A36;
  --color-front: #34403A;
  --floor-particle: #ffffff;
  --air-particle: #ffffff;
  --air-particle-alt: #ffffff;
  background-color: #18FF6D;
}

.style-11 {
  --color: #FFA69E;
  --color-front: #DDFFF7;
  --floor-particle: #AA4465;
  --air-particle: #AA4465;
  --air-particle-alt: #462255;
  background-color: #93E1D8;
}

.style-12 {
  --color: #64B6AC;
  --color-front: #FEE9E1;
  --floor-particle: #64B6AC;
  --air-particle: #64B6AC;
  --air-particle-alt: #64B6AC;
  background-color: #FEE9E1;
}

.style-13 {
  --color: #F4D58D;
  --color-front: #BF0603;
  --floor-particle: #708D81;
  --air-particle: #708D81;
  --air-particle-alt: #001427;
  background-color: #8D0801;
}

.style-14 {
  --color: #BB4430;
  --color-front: #7EBDC2;
  --floor-particle: #7EBDC2;
  --air-particle: #BB4430;
  --air-particle-alt: #7EBDC2;
  background-color: #231F20;
}

.style-15 {
  background: repeating-radial-gradient(circle farthest-side, #F487B6, #F487B6 10vmin, #CC59D2 10vmin, #CC59D2 20vmin);
  --color: #FDE12D;
  --color-front: #9046CF;
  --floor-particle: transparent;
  --air-particle: #FDE12D;
  --air-particle-alt: #FFF3F0;
}
.style-15::after {
  content: none;
}

.font-0 {
  font-family: "Bakbak One", cursive;
}

.font-1 {
  font-family: "Graduate", cursive;
}

.font-2 {
  font-family: "Chonburi", cursive;
}

.font-3 {
  font-family: "Righteous", cursive;
}

.banner-new-card {
  display: flex;
  width: 390px;
  align-items: center;
}

.slider {
  max-width: 1000px;
  width: 90%;
  margin: 15px auto;
  background: #ececec;
  border-radius: 5px;
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  /*h v b s*/
}

.slick-slider button {
  display: none !important;
}

.slick-slide {
  color: #333;
  padding: 19px 0;
  font-family: "Verdana";
  text-align: center;
  pointer-events: none;
}

.slick-slide .desc {
  opacity: 0;
}

.slick-slide .desc > * {
  transition: all 900ms ease;
}

.slick-slide .desc h2 {
  position: relative;
  left: 50px;
  line-height: 1;
}

.slick-slide .desc p {
  position: relative;
  top: 50px;
  opacity: 0;
}

.slick-slide img {
  width: 60%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 1px;
  background: #ccc;
  margin: 10px 5px;
  width: 40px;
  height: 5px;
}

.slick-dots li.slick-active {
  background: #18c495;
}

.slick-dots button {
  display: none;
}

.slick-slide {
  opacity: 0.2;
  transition: all 300ms ease;
}

.slick-current {
  opacity: 1;
  transform: scale(1.1);
}

.slick-current .desc {
  opacity: 1;
}

.slick-current .desc h2 {
  left: 0;
}

.slick-current .desc p {
  top: 0;
  opacity: 1;
}

.btn {
  border-radius: 30px;
  padding: 10px 20px;
  border: 4px solid #18c495;
  text-decoration: none;
  color: #18c495;
  font-size: 0.6em;
  text-transform: uppercase;
  display: block;
  margin: 30px auto 0;
  max-width: 100px;
  width: 100%;
  font-weight: bold;
  pointer-events: initial;
}

.main-news {
  margin: 20px;
  margin-top: 80px;
  display: flex;
}

/* Toutes les cartes */
.cards-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-news .card-news {
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cards-news .card-news:hover {
  transform: translateY(-5px);
}

.cards-news .card-news .img-main {
  max-width: 350px;
  display: flex;
  justify-content: flex-end;
}

.cards-news .card-news .img-main img {
  max-width: 350px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cards-news .card-news .card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-news .card-news .card-header .title {
  margin: 10px;
}

.cards-news .card-news .card-header .price {
  margin: 8px 10px 0 0;
}

.cards-news .card-news .card-body {
  display: flex;
  align-items: center;
}

.cards-news .card-news .card-body p {
  margin: 10px;
}

.new-product {
  position: absolute;
  margin: 14px;
}

.new-product span {
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #00489A;
  border-radius: 15px;
  padding: 5px 18px;
  margin: 4px 0px;
  font-size: 10px;
  text-align: center;
}

.box-search-shop {
  display: flex;
  justify-content: center;
}

.search-shop {
  border-radius: 17px;
  background: #D9D9D9;
  width: 67rem;
  height: 39px;
  border: none;
  margin: 30px 0 30px 0;
}

.search-shop::-moz-placeholder {
  color: rgba(0, 0, 0, 0.26);
  padding: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.search-shop::placeholder {
  color: rgba(0, 0, 0, 0.26);
  padding: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.filter-item-shop {
  border: #003879 solid 2px;
  border-radius: 10px;
  width: 30rem;
}

.main-shop {
  margin: 20px;
  display: flex;
}

.cards-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-shop .card-shop {
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cards-shop .card-shop:hover {
  transform: translateY(-5px);
}

.cards-shop .card-shop .img-main {
  max-width: 350px;
  display: flex;
  justify-content: flex-end;
}

.cards-shop .card-shop .img-main img {
  max-width: 350px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cards-shop .card-shop .card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-shop .card-shop .card-header .title {
  margin: 10px;
}

.cards-shop .card-shop .card-header .price {
  margin: 8px 10px 0 0;
}

.cards-shop .card-shop .card-body {
  display: flex;
  align-items: center;
}

.cards-shop .card-shop .card-body p {
  margin: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.number-pagination {
  padding: 7px 14px;
  margin: 10px;
  border-radius: 10px;
  background: #D9D9D9;
}

.box-iframe {
  display: flex;
  margin: 4rem 12rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-marketplace {
  display: flex;
  align-items: center;
}

.box-marketplace a {
  text-decoration: none;
}

#filter-iframe {
  border: 1px solid #CCC;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 14%;
  color: #666;
}

.filter-item-shop {
  border: #003879 solid 2px;
  border-radius: 10px;
  width: 30rem;
}

.main-shop {
  margin: 20px;
  display: flex;
}

.cards-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-shop .card-shop {
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cards-shop .card-shop:hover {
  transform: translateY(-5px);
}

.cards-shop .card-shop .img-main {
  max-width: 350px;
  display: flex;
  justify-content: flex-end;
}

.cards-shop .card-shop .img-main img {
  max-width: 350px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cards-shop .card-shop .card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-shop .card-shop .card-header .title {
  margin: 10px;
}

.cards-shop .card-shop .card-header .price {
  margin: 8px 10px 0 0;
}

.cards-shop .card-shop .card-body {
  display: flex;
  align-items: center;
}

.cards-shop .card-shop .card-body p {
  margin: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.number-pagination {
  padding: 7px 14px;
  margin: 10px;
  border-radius: 10px;
  background: #D9D9D9;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-select {
    background: #EFEFEF url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/392/select-arrow.png) 95% 50% no-repeat;
  }
}
.page-product {
  background: #E7E7E7;
}

.row {
  display: flex;
  align-items: center;
}

.col-single-product {
  flex-basis: 35%;
  min-width: 300px;
}

.col-single-product img {
  max-width: 70%;
  padding: 50px 0;
}

.col-single-product h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn-single-product {
  display: inline-block;
  color: #ffffff;
  padding: 8px 30px;
  margin: 14px 0 0 0;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.5s;
  font-size: 1em;
  width: 100%;
  font-weight: bold;
}

.btn-single-product-cart {
  background: #1C274C;
  text-align: center;
}

.btn-single-product-now {
  background: #FCC530;
  text-align: center;
}

.btn-single-product-cart:hover {
  background: #020307;
}

.btn-single-product-now:hover {
  background: #856819;
}

.title-description-product {
  display: flex;
  align-items: center;
}

/* single product details */
.img-single-main {
  background-color: #D9D9D9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.single-product .col-single-product img {
  padding: 0;
}

.single-product .col-single-product {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin: 20px 20px 0 0;
}

.single-product input {
  width: 50px;
  height: 35px;
  padding-left: 10px;
  margin-right: 10px;
  border: 1px solid #1C274C;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #1C274C;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
  width: 6.4%;
  flex-direction: column;
  margin-left: 7rem;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin: 5px;
}

.box-price {
  display: flex;
  align-items: center;
}

.box-type-qtd {
  display: flex;
  align-items: baseline;
}

.description-product {
  margin-top: 32px;
}

.text-description-product {
  display: flex;
  flex-direction: column;
  padding: 50px 115px;
  background: #F6F6F6;
}

/* media query for less than 600 screen size */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-single-product {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-single-product {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}
/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.default-centralize {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Body/Header stuff */
/* Content */
.cart-content {
  background-color: #E7E7E7;
  min-height: calc(100% - 173px);
}

.shopping-cart {
  display: flex;
  height: 100%;
  justify-content: space-around;
  gap: 20px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product area */
.product-area .product-list {
  background: #fff;
  margin-top: 20px;
  border-radius: 8px;
}
.product-area .product-list .product {
  width: 100%;
  display: flex;
  padding: 16px 0px;
  border-bottom: 2px solid #E7E7E7;
  font-family: "Inter", sans-serif;
}
.product-area .product-list .product .product-image {
  text-align: center;
  border: 1px solid #b5b5b5;
  border-radius: 12px;
  padding: 12px;
  margin-left: 16px;
}
.product-area .product-list .product .product-image img {
  width: 100px;
}
.product-area .product-list .product .product-details {
  margin: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-area .product-list .product .product-details .product-detail-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-area .product-list .product .product-details .product-detail-text .product-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-area .product-list .product .product-details .product-detail-text .product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.product-area .product-list .product .product-details .input-quantity {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.product-area .product-list .product .product-details .input-quantity .product-quantity {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  height: 22px;
  width: 100%;
  max-width: 16%;
}
.product-area .product-list .product .product-details .input-quantity .value-button {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product-area .product-list .product .product-details .input-quantity .increase {
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 8px 8px 0;
}
.product-area .product-list .product .product-details .input-quantity .decrease {
  border-left: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
}
.product-area .product-list .product .product-details .input-quantity .value-button:hover {
  cursor: pointer;
}
.product-area .product-list .product .product-details .input-quantity #decrease {
  border-left: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
}
.product-area .product-list .product .product-details .input-quantity #increase {
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 8px 8px 0;
}
.product-area .product-list .product .product-details .input-quantity input[type=number]::-webkit-inner-spin-button,
.product-area .product-list .product .product-details .input-quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-area .product-list .product .product-details .product-title {
  font-size: 16px;
}
.product-area .product-list .product .product-details .product-description {
  font-size: 12px;
}
.product-area .product-list .product .product-actions {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 16px;
}
.product-area .product-list .product .product-actions .action-remove .remove-product {
  border: 0;
  padding: 0px;
  background-color: #D9D9D9;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
}
.product-area .product-list .product .product-actions .action-remove .remove-product:hover {
  background-color: #969696;
}
.product-area .product-list .product .product-actions .action-value {
  display: flex;
  align-items: center;
  gap: 4px;
}
.product-area .product-list .product .product-actions .action-value .product-price {
  font-size: 24px;
}

.checkout-area {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* Totals section */
}
.checkout-area .totals {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  width: 100%;
  height: 288px;
  border-radius: 8px;
}
.checkout-area .totals .totals-summary {
  padding: 10px;
  font-family: monospace;
}
.checkout-area .totals .totals-summary h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}
.checkout-area .totals .totals-summary .totals-item {
  width: 100%;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.checkout-area .totals .totals-summary .totals-item .totals-value {
  float: right;
  text-align: right;
}
.checkout-area .totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.checkout-area .totals .checkout-button {
  display: flex;
  justify-content: center;
}
.checkout-area .totals .checkout-button .checkout {
  border: 0;
  width: 100%;
  height: 85px;
  background-color: #1C274C;
  color: #fff;
  font-size: 25px;
  border-radius: 14px;
  cursor: pointer;
}

/* Make adjustments for tablet */
@media only screen and (max-width: 650px) {
  .cart-content {
    background-color: #E7E7E7;
    height: auto;
  }
  .shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  .default-centralize {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .column-labels {
    display: none;
  }
  .product-details {
    float: none;
    width: auto;
  }
  .product-price {
    font-size: 16px;
  }
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }
  .product-removal {
    width: auto;
  }
  .product-line-price {
    float: right;
    width: 70px;
  }
  .checkout-area {
    max-width: none;
    margin: 0;
  }
}
@media only screen and (max-width: 850px) {
  .product-area .product-list .product .product-actions .action-value img {
    width: 30px;
  }
  .product-area .product-list .product .product-actions .action-value .product-price {
    font-size: 21px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .shopping-cart {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  .product-removal {
    float: right;
  }
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  .product .product-line-price:before {
    content: "Item Total: $";
  }
  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
.checkout-content {
  background-color: #E7E7E7;
  min-height: calc(100% - 173px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-content .step-area {
  margin: 50px auto;
}
.checkout-content .step-area #steps .step {
  width: 40px;
  height: 40px;
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  border-color: transparent;
  border-radius: 50%;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}
.checkout-content .step-area #steps .step:first-child {
  line-height: 40px;
}
.checkout-content .step-area #steps .step:nth-child(n+2) {
  margin: 0 0 0 100px;
  transform: translate(0, -4px);
}
.checkout-content .step-area #steps .step:nth-child(n+2):before {
  width: 75px;
  height: 3px;
  display: block;
  background-color: hsl(0, 0%, 100%);
  transform: translate(-95px, 21px);
  content: "";
}
.checkout-content .step-area #steps .step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);
  color: hsl(226, 10%, 55%);
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}
.checkout-content .step-area #steps .step:first-child:after {
  transform: translate(-55px, -1px);
}
.checkout-content .step-area #steps .step.active {
  background-color: hsl(226, 46%, 20%);
  color: hsl(0, 0%, 100%);
}
.checkout-content .step-area #steps .step.active:before {
  background: linear-gradient(to right, hsl(120, 42%, 54%) 0%, hsl(226, 46%, 20%) 100%);
}
.checkout-content .step-area #steps .step.active:after {
  color: hsl(226, 46%, 20%);
}
.checkout-content .step-area #steps .step.done {
  background-color: hsl(120, 42%, 54%);
  color: hsl(0, 0%, 100%);
}
.checkout-content .step-area #steps .step.done:before {
  background-color: hsl(120, 42%, 54%);
}
.checkout-content .payment-area {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.checkout-content .payment-area .user-data-area {
  max-width: 740px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.checkout-content .payment-area .user-data-area .box-padding {
  padding: 32px;
}
.checkout-content .payment-area .user-data-area .user-data-title {
  font-size: 24px;
  font-weight: 400;
}
.checkout-content .payment-area .user-data-area .address-area {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.checkout-content .payment-area .user-data-area .address-area.active .title-box {
  margin-bottom: 12px;
}
.checkout-content .payment-area .user-data-area .address-area .title-box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.checkout-content .payment-area .user-data-area .address-area .info-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.checkout-content .payment-area .user-data-area .address-area .info-box .user-data-info {
  color: #626262;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.checkout-content .payment-area .user-data-area .add-address-area {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.checkout-content .payment-area .user-data-area .add-address-area.active .add-address-selection {
  margin-bottom: 12px;
}
.checkout-content .payment-area .user-data-area .add-address-area .add-address-selection {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.checkout-content .payment-area .user-data-area .add-address-area .accordion-body {
  flex-direction: column;
}
.checkout-content .payment-area .user-data-area .add-address-area .accordion-body .complement {
  display: flex;
  gap: 32px;
}
.checkout-content .payment-area .user-data-area .add-address-area .accordion-body .state {
  display: flex;
  gap: 32px;
}
.checkout-content .payment-area .user-data-area .add-address-area .form-input {
  display: flex;
  flex-direction: column;
}
.checkout-content .payment-area .user-data-area .add-address-area .form-input .input-label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  transition: all 0.3s;
}
.checkout-content .payment-area .user-data-area .add-address-area .form-input input {
  font-family: "Inter", sans-serif;
  color: #333;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid hsl(0, 0%, 0%);
  width: 100%;
  transition: all 0.3s;
}
.checkout-content .payment-area .user-data-area .payment-type-area {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.checkout-content .payment-area .user-data-area .payment-type-area .payment-type-text {
  display: flex;
}
.checkout-content .payment-area .user-data-area .payment-type-area .payment-type-select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  overflow: hidden;
}
.checkout-content .payment-area .user-data-area .payment-type-area .payment-type-select select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
.checkout-content .payment-area .user-data-area .payment-type-area .payment-type-select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.checkout-content .payment-area .user-data-area .payment-type-area .payment-type-select select::-ms-expand {
  display: none;
}
.checkout-content .payment-area .checkout-box {
  max-width: 430px;
  background-color: white;
  border-radius: 8px;
}
.checkout-content .payment-area .checkout-box .checkout-list .checkout-product {
  display: flex;
  padding: 16px;
  font-family: "Inter", sans-serif;
}
.checkout-content .payment-area .checkout-box .checkout-list .checkout-product .checkout-product-image {
  text-align: center;
  border: 1px solid #b5b5b5;
  border-radius: 12px;
  padding: 12px;
}
.checkout-content .payment-area .checkout-box .checkout-list .checkout-product .checkout-product-image img {
  width: 80px;
}
.checkout-content .payment-area .checkout-box .checkout-list .checkout-product .checkout-product-details {
  margin: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checkout-content .payment-area .checkout-box .checkout-list .checkout-product .checkout-product-details .checkout-product-title {
  font-size: 16px;
}
.checkout-content .payment-area .checkout-box .checkout-list .checkout-product .checkout-product-details .checkout-product-description {
  font-size: 12px;
}
.checkout-content .payment-area .checkout-box .finish-order-area {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.checkout-content .payment-area .checkout-box .finish-order-area .order-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-content .payment-area .checkout-box .finish-order-area .order-value .order-value-price {
  font-size: 24px;
}
.checkout-content .payment-area .checkout-box .finish-order-area .finish-order-button .finish-button {
  border: 0;
  width: 100%;
  height: 64px;
  background-color: #1C274C;
  color: #fff;
  font-size: 25px;
  border-radius: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .checkout-content {
    background-color: #E7E7E7;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .checkout-content .payment-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .default-centralize {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.accordion .accordion-body {
  overflow: hidden;
  height: 0px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}
.accordion .open-box-button {
  opacity: 1;
}
.accordion.active .open-box-button {
  opacity: 0;
}
.accordion.active .accordion-body {
  height: auto;
  gap: 16px;
}

.profile-content {
  background-color: #E7E7E7;
  min-height: calc(100% - 173px);
}
.profile-content .profile-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-content .profile-area .profile-banner {
  width: 100%;
  height: auto;
  margin-top: 24px;
  border-radius: 8px;
  background-color: #fff;
}
.profile-content .profile-area .profile-banner .banner-color {
  display: flex;
  align-items: flex-end;
  height: 120px;
  background-color: #1C274C;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.profile-content .profile-area .profile-banner .banner-color .banner-image-area {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #D9D9D9;
  position: absolute;
  top: 12px;
  left: 32px;
}
.profile-content .profile-area .profile-banner .banner-user-data {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-content .profile-area .profile-banner .banner-user-data .profile-user-name {
  font-size: 20px;
  font-weight: bold;
}
.profile-content .profile-area .profile-banner .banner-user-data .profile-user-contact {
  display: flex;
  gap: 14px;
}
.profile-content .profile-area .profile-banner .banner-user-data .profile-user-contact .profile-contact {
  display: flex;
  gap: 8px;
}
.profile-content .profile-area .profile-tabs {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
}
.profile-content .profile-area .profile-tabs .profile-tab {
  margin: 12px auto;
}
.profile-content .profile-area .profile-tabs .profile-tab.active .tab-button {
  font-weight: bold;
  color: #000;
}
.profile-content .profile-area .profile-tabs .profile-tab .tab-button {
  border: 0;
  padding: 8px;
  background-color: transparent;
  font-size: 20px;
  color: #a3a3a3;
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}
.profile-content .profile-area .profile-body {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #fff;
}
.profile-content .profile-area .edit-profile-form {
  display: flex;
  justify-content: center;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
  width: 50%;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-contact-area {
  display: flex;
  gap: 12px;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-address-area {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-address-area .form-complement-cep-area {
  display: flex;
  gap: 12px;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-address-area .form-state-city-area {
  display: flex;
  gap: 12px;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .save-changes-button {
  display: flex;
  justify-content: flex-end;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .save-changes-button .save-button {
  border: 0;
  width: 20%;
  height: 50px;
  background-color: #1C274C;
  color: #fff;
  font-size: 20px;
  border-radius: 14px;
  cursor: pointer;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-input .input-label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  transition: all 0.3s;
}
.profile-content .profile-area .edit-profile-form .edit-profile-form-box .form-input input {
  font-family: "Inter", sans-serif;
  color: #333;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid hsl(0, 0%, 0%);
  width: 100%;
  transition: all 0.3s;
}
.profile-content .profile-area .profile-orders {
  display: none;
}
.profile-content .profile-area .profile-orders .profile-orders-box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 14px;
  width: 100%;
}
.profile-content .profile-area .profile-orders .profile-orders-box .order-list {
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.profile-content .profile-area .profile-orders .profile-orders-box .order-list .order-list-header {
  text-align: center;
  background-color: #D9D9D9;
}
.profile-content .profile-area .profile-orders .profile-orders-box .order-list .order-list-header th {
  padding: 12px;
}
.profile-content .profile-area .profile-orders .profile-orders-box .order-list .order-list-line {
  text-align: center;
  border-bottom: 1px solid #B0B0B0;
  cursor: pointer;
}
.profile-content .profile-area .profile-orders .profile-orders-box .order-list .order-list-line td {
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
}

.order-content {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-content .step-area {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}
.order-content .step-area .step {
  width: 100%;
  max-width: 500px;
  display: grid;
  justify-items: center;
  gap: 8px;
  position: relative;
}
.order-content .step-area .step-rounded {
  background-color: hsl(120, 42%, 54%);
  color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-content .step-area .step-rounded p:first-child {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-align: center;
}
.order-content .step-area .step:nth-child(n+2):before {
  width: 100px;
  max-width: 96px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: hsl(120, 42%, 54%);
  transform: translate(-95px, 21px);
  margin-left: 20px;
  content: "";
}
.order-content .step-area p:nth-child(2) {
  text-align: center;
  font-weight: 600;
  color: hsl(226, 10%, 55%);
}
.order-content .step-area .step.active:before {
  background: linear-gradient(to right, hsl(120, 42%, 54%) 0%, hsl(226, 46%, 20%) 100%);
}
.order-content .step-area .step.active .step-rounded {
  background-color: hsl(226, 46%, 20%);
}
.order-content .step-area .step.active .step-rounded p {
  color: hsl(0, 0%, 100%);
}
.order-content .step-area .step.active p {
  color: hsl(226, 46%, 20%);
}
.order-content .payment-area {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 36px;
}
.order-content .payment-area .order-box {
  min-width: 732px;
  background-color: white;
  border-radius: 8px;
}
.order-content .payment-area .order-box .order-product {
  display: flex;
  padding: 16px;
  font-family: "Inter", sans-serif;
}
.order-content .payment-area .order-box .order-product .info-order-header {
  text-align: center;
  margin-bottom: 12px;
}
.order-content .payment-area .order-box .order-product h4 {
  margin-bottom: 16px;
}
.order-content .payment-area .order-box .order-product h5 {
  border-bottom: 2px dashed rgba(87, 87, 87, 0.5);
  padding-bottom: 12px;
  color: hsl(226, 10%, 55%);
}
.order-content .payment-area .order-box .order-product .order-product-image {
  text-align: center;
  border: 1px solid #b5b5b5;
  border-radius: 12px;
  padding: 12px;
}
.order-content .payment-area .order-box .order-product .order-product-image img {
  width: 80px;
}
.order-content .payment-area .order-box .order-product .order-product-details {
  margin: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
}
.order-content .payment-area .order-box .order-product .order-product-details .order-product-description-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-content .payment-area .order-box .order-product .order-product-details .order-product-title {
  font-size: 16px;
}
.order-content .payment-area .order-box .order-product .order-product-details .order-product-description {
  font-size: 12px;
}
.order-content .payment-area .order-box .order-product .order-product-details .none-margin-bottom {
  margin-bottom: 0px;
}
.order-content .payment-area .order-box .order-total {
  display: flex;
  padding: 16px;
}
.order-content .payment-area .order-box .border {
  border-top: 2px dashed rgba(87, 87, 87, 0.5);
  padding-top: 12px;
  border-color: hsl(226, 10%, 55%);
  font-size: 16px;
  width: 100%;
}
.order-content .payment-area .order-box .border .order-product-description-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
}
.order-content .payment-area .order-box .border .order-payment-voucher {
  display: flex;
}
.order-content .payment-area .order-box .border .order-payment-voucher p {
  display: flex;
  align-items: end;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.order-content .payment-area .order-box .border .order-payment-voucher p:hover {
  color: rgb(95, 95, 204);
}
.order-content .payment-area .order-box .finish-order-area {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.order-content .payment-area .order-box .finish-order-area .order-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-content .payment-area .order-box .finish-order-area .order-value .order-value-price {
  font-size: 24px;
}
.order-content .payment-area .order-box .finish-order-area .finish-order-button .finish-button {
  border: 0;
  width: 100%;
  height: 64px;
  background-color: #1C274C;
  color: #fff;
  font-size: 25px;
  border-radius: 14px;
  cursor: pointer;
}

@media screen and (max-width: 552px) {
  .order-content .step-area .step:nth-child(n+2):before {
    max-width: 76px;
    margin-left: 60px;
  }
  .order-content .payment-area .order-box {
    max-width: 90%;
    min-width: 60%;
  }
}/*# sourceMappingURL=style.css.map */