@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
$blue: hsl(226, 46%, 20%);
$green: hsl(120,42%,54%);
$white: hsl(0, 0%, 100%);
$grey: hsl(226,10%,55%);
$disa: hsl(226,15%,83%);
$black: hsl(0, 0%, 0%);

.checkout-content {
  background-color: #E7E7E7;
  min-height: calc(100% - 173px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .step-area {
    margin: 50px auto;
    #steps {
      .step {
        width: 40px;
        height: 40px;
        background-color: $white;
        display: inline-block;
        border-color: transparent;
        border-radius: 50%;
        
        color: $black;
        font-weight: 600;
        text-align: center;
        line-height: 35px;
      }
      .step:first-child {
        line-height: 40px;
      }
      .step:nth-child(n+2) {
        margin: 0 0 0 100px;
        transform: translate(0, -4px);
      }
      .step:nth-child(n+2):before {
        width: 75px;
        height: 3px;
        display: block;
        background-color: $white;
        transform: translate(-95px, 21px);
        content: '';  
      }
      .step:after {
        width: 150px;
        display: block;
        transform: translate(-55px, 3px);
        
        color: $grey;
        content: attr(data-desc);
        font-weight: 400;
        font-size: 13px;
      }
      .step:first-child:after {
        transform: translate(-55px, -1px);  
      }
      .step.active {
        background-color: $blue;
        
        color: $white;
      }
      .step.active:before {
        background: linear-gradient(to right, $green 0%, $blue 100%);
      }
      .step.active:after {
        color: $blue;  
      }
      .step.done {
        background-color: $green;

        color: $white;
      }
      .step.done:before {
        background-color: $green;  
      }
    }
  }
  .payment-area {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap: 24px;
    .user-data-area {
      max-width: 740px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .box-padding{
        padding: 32px;
      }
      .user-data-title {
        font-size: 24px;
        font-weight: 400;
      }
      .address-area {
        width: 100%;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        &.active{
          .title-box{
            margin-bottom: 12px;
          }
        }
        .title-box {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
        .info-box{
          display: flex;
          flex-direction: column;
          gap: 8px;
          .user-data-info {
            color: #626262;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      .add-address-area {
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        &.active{
          .add-address-selection{
            margin-bottom: 12px;
          }
        }
        .add-address-selection{
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
        .accordion-body {
          // display: none;
          flex-direction: column;
          .complement {
            display: flex;
            gap: 32px;
          }
          .state {
            display: flex;
            gap: 32px;
          }
        }
        .form-input {
          display: flex;
          flex-direction: column;
          .input-label {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            transition: all 0.3s;
          }
          input {
            font-family: 'Inter', sans-serif;
            color: #333;
            font-size: 16px;
            padding: 5px;
            border-radius: 8px;
            background-color: rgb(255, 255, 255);
            border: 1px solid $black;
            width: 100%;
            transition: all 0.3s;
          }
        }
        
      }
      .payment-type-area {
        background-color: $white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .payment-type-text{
          display: flex;
        }
        .payment-type-select {
          position: relative;
          display: flex;
          width: 100%;
          height: 3em;
          line-height: 3;
          overflow: hidden;
          select {
            width: 100%;
            appearance:none;
            outline:0;
            box-shadow:none;
            border: 1px solid $black;
            border-radius: 8px;
            background: $white;
            background-image: none;
            flex: 1;
            padding: 0 .5em;
            color:$black;
            cursor:pointer;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
          }
        }
        .payment-type-select::after {
          content: '\25BC';
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 1em;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          cursor:pointer;
          pointer-events:none;
          transition:.25s all ease;
        }
        .payment-type-select select::-ms-expand {
          display: none;
        }
      }
    }
    .checkout-box {
      max-width: 430px;
      background-color: white;
      border-radius: 8px;
      .checkout-list {
        .checkout-product {
          display: flex;
          padding: 16px;
          font-family: "Inter", sans-serif;
          .checkout-product-image {
            text-align: center;
            border: 1px solid #b5b5b5;
            border-radius: 12px;
            padding: 12px;
            img {
              width: 80px;
            }
          }
          .checkout-product-details {
            margin: 0 8px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .checkout-product-title {
              font-size: 16px;
            }
            .checkout-product-description{
              font-size: 12px;
            }
          }
        }
      }
      .finish-order-area {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .order-value {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .order-value-price {
            font-size: 24px;
          }
        }
        .finish-order-button {
          .finish-button {
            border: 0;
            width: 100%;
            height: 64px;
            background-color: #1C274C;
            color: #fff;
            font-size: 25px;
            border-radius: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .checkout-content {
    background-color: #E7E7E7;
    height: auto;
    display: flex;
    flex-direction: column;
    .payment-area {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .default-centralize {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}