@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
/* Barre de navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    background: rgba(250, 250, 250, 0.8);
    height: 91px;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
nav h1{
  font-size: 20px;
}
nav .onglets{
  display: flex;
  align-items: center;
}
nav .onglets p{
  	margin-right: 35px;
  	cursor:pointer;
  	width: 76px;
	  height: 23px;
    color: #000000;
    text-align: center;
    font: 600 20px "Inter", sans-serif;
}

.active-nav-bar {
    border-style: solid;
    border-color: #fcc530;
    border-width: 0 0 5px 0;
}

.cart-background {
    background: #1c274c;
    border-radius: 15px;
    width: 188px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bold-duotone-shopping-ecommerce-cart-large {
  // position: absolute;
  left: 1223px;
  top: 24px;
  overflow: visible;
}
.icons-nav-bar {
    display: flex;
    align-items: center;
}
.profile-icon-user {
  margin-right: 20px;
}
.profile-icon-user.bold-duotone-users-user-circle {
  // position: absolute;
  left: 1117px;
  top: 24px;
  overflow: visible;
}

.carrinho {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
}
/* Fin de la barre de navigation */

/* Header */
.banner-msg{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.banner-msg h1{
  font-size: 36px;
  max-width: 40rem;
  text-align:center;
}
.banner-msg button{
  width: 139px;
  height: 51px;
  font-size: 20px;
  border:none;
  border-radius: 13px;
  outline:none;
  background: #BDBDBD;
  cursor:pointer;
}
/* Fin du header */

/* Section principale */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 80px;
}
/* Toutes les cartes */
.cards{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    width: 100%;
}

// .card{
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
// }
.cards .card{
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 12px 15px rgba(0, 0, 0, 0.0784313725);
  margin: 0 auto;
  max-width: 400px;
  
}
.cards .card:hover { 
  transform: translateY(-5px);
  box-shadow: 8px 16px 20px #00000009;
}

.box-info-main{
  padding: 24px 20px;
}

.cards .card .img-main{
    width: 100%;
    height: 350px;
}
.cards .card .img-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards .card .card-header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.cards .card .card-header .title{
  margin: 0;
}

.cards .card .card-body{
  display: flex;
  align-items: center;
  gap: 8px;
}
.cards .card .card-body p{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
/* Fin de toutes les cartes */

/* Video de présentation */
.main .video{
  margin-top: 80px;
  width: 100%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
/* Fin de la vidéo de présentation */
/* Fin de la section principale */

/* Pied de page */
footer {
  background-color: #1c274c;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  cursor:pointer;
  width: 23px;
  height: 23px;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
}



// .component-10,
// .component-10 * {
//   box-sizing: border-box;
// }
// .component-10 {
//   width: 1440px;
//   height: 91px;
//   position: relative;
// }
// .rectangle-7 {
//   background: rgba(250, 250, 250, 0.8);
//   border-style: solid;
//   border-color: rgba(0, 0, 0, 0.13);
//   border-width: 0px 0px 1px 0px;
//   width: 1440px;
//   height: 91px;
//   position: absolute;
//   left: 0px;
//   top: 0px;
// }
// .text-nav {
//   color: #000000;
//   text-align: center;
//   font: 600 20px "Inter", sans-serif;
//   position: absolute;
//   left: 733px;
//   top: 32px;
//   width: 76px;
//   height: 23px;
// }


