@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  background: rgba(250, 250, 250, 0.8);
  height: 90px;
  box-sizing: border-box;
  .nav-bar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .nav-bar-mobile {
      display: none;
    }
    h1{
      font-size: 20px;
    }
    .onglets{
      display: flex;
      align-items: center;
      .nav-list{
          margin-right: 35px;
          cursor:pointer;
          width: fit-content;
          height: 23px;
          color: #000000;
          text-align: center;
          font: 600 20px "Inter", sans-serif;
          list-style: none;
          a {
            text-decoration: none;
            color: #000000;
          }
      }
    }
  }
}

/* navigation */

.active-nav-bar {
    border-style: solid;
    border-color: #fcc530;
    border-width: 0 0 5px 0;
}

.cart-background {
    background: #1c274c;
    border-radius: 15px;
    width: 188px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bold-duotone-shopping-ecommerce-cart-large {
  // position: absolute;
  left: 1223px;
  top: 24px;
  overflow: visible;
}
.icons-nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-icon-user.bold-duotone-users-user-circle {
  // position: absolute;
  left: 1117px;
  top: 24px;
  overflow: visible;
}

.carrinho {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
}


/* Header */
.banner-msg{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.banner-msg h1{
  font-size: 36px;
  max-width: 40rem;
  text-align:center;
}
.banner-msg button{
  width: 139px;
  height: 51px;
  font-size: 20px;
  border:none;
  border-radius: 13px;
  outline:none;
  background: #BDBDBD;
  cursor:pointer;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 80px;
}

.cards{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    width: 100%;
}

// .card{
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
// }
.cards .card{
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 12px 15px rgba(0, 0, 0, 0.0784313725);
  margin: 0 auto;
  max-width: 400px;
  
}
.cards .card:hover { 
  transform: translateY(-5px);
  box-shadow: 8px 16px 20px #00000009;
}

.box-info-main{
  padding: 24px 20px;
}

.cards .card .img-main{
    width: 100%;
    height: 350px;
}
.cards .card .img-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards .card .card-header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.cards .card .card-header .title{
  margin: 0;
}

.cards .card .card-body{
  display: flex;
  align-items: center;
  gap: 8px;
}
.cards .card .card-body p{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.main .video{
  margin-top: 80px;
  width: 100%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

.footer-area {
  background-color: #1c274c;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  .footer-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .social-media{
      display: flex;
      p{
        box-sizing: border-box;
        margin-right: 15px;
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 5px;
        text-align:center;
        cursor:pointer;
        width: 23px;
        height: 23px;
      }
    }
  }
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  .header {
    .nav-bar {
      .nav-links {
        display: block;
        .onglets{
          width: 100%;
          position: absolute;
          top: 90px;
          right: 0px;
          width: 0;
          background: rgba(255, 255, 255, 0.86);
          flex-direction: column;
          height: fit-content;
          padding: 32px 0;
          gap: 12px;
          backdrop-filter: blur(1px);
          transition: all 0.3s;
          overflow: hidden;
          &.active{
            right: 0;
            width: 100%;
            padding: 32px 12px
          }
          .nav-list{
              margin: 0px;
              color: #000000;
              padding: 0px 16px;
              font-size: 17px;
              display: block;
              .link {
                color: black;
              }
          }
          .cart-background {
            width: 100%;
            padding: 8px;
            border-radius: 24px;
            .carrinho {
              display: none;
              height: 28px;
            }
            .bold-duotone-shopping-ecommerce-cart-large {
              width: 32px;
            }
          }
          .icons-nav-bar {
            gap: 12px;
            .profile-icon-user {
              display: none;
            }
          }
        }
      }
      .nav-bar-mobile {
        display: flex;
        align-items: center;
        .profile-icon-user-mobile {
          margin: 0;
        }
      }
      .burger-menu {
        color: white;
        padding: 14px 16px;
        font-size: 17px;
        display: block;
        cursor: pointer;
        .burger-line {
          width: 25px;
          height: 3px;
          background-color: #000000;
          margin: 5px;
        }
      }
    }
  }

  .footer-area {
    gap: 20px;
  }
}



// .component-10,
// .component-10 * {
//   box-sizing: border-box;
// }
// .component-10 {
//   width: 1440px;
//   height: 91px;
//   position: relative;
// }
// .rectangle-7 {
//   background: rgba(250, 250, 250, 0.8);
//   border-style: solid;
//   border-color: rgba(0, 0, 0, 0.13);
//   border-width: 0px 0px 1px 0px;
//   width: 1440px;
//   height: 91px;
//   position: absolute;
//   left: 0px;
//   top: 0px;
// }
// .text-nav {
//   color: #000000;
//   text-align: center;
//   font: 600 20px "Inter", sans-serif;
//   position: absolute;
//   left: 733px;
//   top: 32px;
//   width: 76px;
//   height: 23px;
// }


