.box-search-shop{
    display: flex;
    justify-content: center;
  }
  
  .search-shop{
    border-radius: 17px;
    background: #D9D9D9;
    width: 67rem;
    height: 39px;
    border: none;
    margin: 30px 0 30px 0;
  }

  .search-shop::placeholder {
    color: rgba(0, 0, 0, 0.26);
    // text-align: start;
    padding: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }

  .filter-item-shop{
    border: #003879 solid 2px;
    border-radius: 10px;
    width: 30rem;
  }

  .main-shop{
    margin: 20px;
    display:flex;
  }

  .cards-shop{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  
  // .card{
  //   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // }
  .cards-shop .card-shop{
    margin: 20px;
    cursor:pointer;
    // width: calc(26.33% - 61px);
    transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    
  }
  .cards-shop .card-shop:hover { 
    transform: scale(1.1); 
  }

  .cards-shop .card-shop .img-main{
    max-width: 350px;
    display: flex;
    justify-content: flex-end;
  }
  .cards-shop .card-shop .img-main img{
    max-width: 350px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .cards-shop .card-shop .card-header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  
  .cards-shop .card-shop .card-header .title{
    margin: 10px;
  }
  .cards-shop .card-shop .card-header .price{
    margin: 8px 10px 0 0;
  }
  
  .cards-shop .card-shop .card-body{
      display: flex;
      align-items: center;
  }
  .cards-shop .card-shop .card-body p{
    margin: 10px;
  }
  
//   /* Media query para telas menores */
// @media (max-width: 768px) {
//     .cards-shop .card-shop {
//         width: calc(50% - 10px);
//     }
// }

// /* Media query para telas ainda menores */
// @media (max-width: 480px) {
//     .cards-shop .card-shop {
//         width: calc(100% - 10px);
//     }
// }

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.number-pagination{
    padding: 7px 14px;
    margin: 10px;
    border-radius: 10px;
    background: #D9D9D9;
}
